<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmt.mbsp.user.dao.mapper.account.AccountRoleMapper">
  <resultMap id="BaseResultMap" type="com.lmt.mbsp.user.entity.account.AccountRole">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_account_role
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByAccountId" parameterType="java.lang.Long">
    delete from t_account_role
    where account_id = #{accountId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.lmt.mbsp.user.entity.account.AccountRole" useGeneratedKeys="true" keyProperty="id">
    insert into t_account_role (id, account_id, role_id
      )
    values (#{id,jdbcType=BIGINT}, #{accountId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.lmt.mbsp.user.entity.account.AccountRole">
    update t_account_role
    set account_id = #{accountId,jdbcType=BIGINT},
      role_id = #{roleId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="selFields"/>
    from t_account_role
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByAccountId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="selFields"/>
    from t_account_role
    where account_id = #{accountId,jdbcType=BIGINT}
  </select>

  <select id="selectSingle" parameterType="com.lmt.mbsp.user.entity.account.AccountRole" resultMap="BaseResultMap">
    select <include refid="selFields"/>
    from t_account_role
    <include refid="paramSql"/>
  </select>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.lmt.mbsp.user.entity.account.AccountRole">
    select <include refid="selFields"/>
    from t_account_role
    <include refid="paramSql"/>
  </select>

  <select id="count" parameterType="com.lmt.mbsp.user.entity.account.AccountRole" resultType="java.lang.Integer">
    select count(*)
    from t_account_role
    <include refid="paramSql"/>
  </select>

  <!--查询返回字段-->
  <sql id="selFields">id, account_id, role_id</sql>

  <!--查询参数-->
  <sql id="paramSql">
    <where>
      <if test="id != null">AND id = #{id,jdbcType=BIGINT}</if>
      <if test="accountId != null">AND account_id = #{accountId,jdbcType=BIGINT}</if>
      <if test="roleId != null">AND role_id = #{roleId,jdbcType=BIGINT}</if>
      <if test="accountIds != null and accountIds.size()>0">
        AND
        <foreach collection="accountIds" item="id" open="(" close=")" separator="or">
          account_id = #{id}
        </foreach>
      </if>
    </where>
  </sql>
</mapper>