<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmt.mbsp.user.dao.mapper.resources.DataResourcesMapper">
  <resultMap id="BaseResultMap" type="com.lmt.mbsp.user.entity.resources.DataResources">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_data_resources
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lmt.mbsp.user.entity.resources.DataResources">
    insert into t_data_resources (id, content, icon, 
      name, state, uri, code,
      parent_code, description, create_time)
    values (#{id,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{uri,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
      #{parentCode,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lmt.mbsp.user.entity.resources.DataResources">
    update t_data_resources
    set content = #{content,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      uri = #{uri,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, content, icon, name, state, uri, code, parent_code, description, create_time
    from t_data_resources
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.lmt.mbsp.user.entity.resources.DataResources">
    select id, content, icon, name, state, uri, code, parent_code, description, create_time
    from t_data_resources
  </select>
  <select id="count" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select count(*)
    from t_data_resources
  </select>
</mapper>