<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmt.mbsp.user.dao.mapper.group.GroupImgMapper">
  <resultMap id="BaseResultMap" type="com.lmt.mbsp.user.entity.group.GroupImg">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_group_img
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByGroupId" parameterType="java.lang.Long">
    delete from t_group_img
    where group_id = #{groupId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.lmt.mbsp.user.entity.group.GroupImg">
    insert into t_group_img (id, group_id, img_url,type
      )
    values (#{id,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{imgUrl,jdbcType=VARCHAR},
      #{type,jdbcType=INTEGER}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.lmt.mbsp.user.entity.group.GroupImg">
    update t_group_img
    set group_id = #{groupId,jdbcType=BIGINT},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="selFields"/>
    from t_group_img
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByGroupId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="selFields"/>
    from t_group_img
    where group_id = #{groupId,jdbcType=BIGINT}
  </select>

  <select id="selectSingle" parameterType="com.lmt.mbsp.user.entity.group.GroupImg" resultMap="BaseResultMap">
    select <include refid="selFields"/>
    from t_group_img
    <include refid="paramSql"/>
  </select>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.lmt.mbsp.user.entity.group.GroupImg">
    select <include refid="selFields"/>
    from t_group_img
    <include refid="paramSql"/>
  </select>

  <select id="count" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select count(*)
    from t_group_img
    <include refid="paramSql"/>
  </select>

  <!--查询返回字段-->
  <sql id="selFields">id, group_id, img_url, `type`</sql>

  <!--查询参数-->
  <sql id="paramSql">
    <where>
      <if test="id != null">AND id = #{id,jdbcType=BIGINT}</if>
      <if test="groupId != null">AND group_id = #{groupId,jdbcType=BIGINT}</if>
      <if test="type != null">AND `type` = #{type,jdbcType=INTEGER}</if>
    </where>
  </sql>
</mapper>