<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmt.mbsp.user.dao.mapper.group.GroupUserMapper">
  <resultMap id="BaseResultMap" type="com.lmt.mbsp.user.entity.group.GroupUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_group_user
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByUserId" parameterType="java.lang.Long">
    delete from t_group_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.lmt.mbsp.user.entity.group.GroupUser" useGeneratedKeys="true" keyProperty="id">
    insert into t_group_user (id, group_id, user_id,
    type, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
    #{type,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.lmt.mbsp.user.entity.group.GroupUser">
    update t_group_user
    set group_id = #{groupId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="selFields"/>
    from t_group_user
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="selFields"/>
    from t_group_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <select id="selectSingle" parameterType="com.lmt.mbsp.user.entity.group.GroupUser" resultMap="BaseResultMap">
    select <include refid="selFields"/>
    from t_group_user
    <include refid="paramSql"/>
  </select>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.lmt.mbsp.user.entity.group.GroupUser">
    select <include refid="selFields"/>
    from t_group_user
    <include refid="paramSql"/>
  </select>

  <select id="count" parameterType="com.lmt.mbsp.user.entity.group.GroupUser" resultType="java.lang.Integer">
    select count(*)
    from t_group_user
    <include refid="paramSql"/>
  </select>

  <!--查询返回字段-->
  <sql id="selFields">id, group_id, user_id, type, create_time</sql>

  <!--查询参数-->
  <sql id="paramSql">
    <where>
      <if test="id != null">AND id = #{id,jdbcType=BIGINT}</if>
      <if test="groupId != null">AND group_id = #{groupId,jdbcType=BIGINT}</if>
      <if test="userId != null">AND user_id = #{userId,jdbcType=BIGINT}</if>
      <if test="type != null">AND type=#{type,jdbcType=INTEGER} </if>
    </where>
  </sql>
</mapper>