<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmt.mbsp.user.dao.mapper.permission.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.lmt.mbsp.user.entity.permission.Permission">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="parent_code" jdbcType="VARCHAR" property="parentCode"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
      delete from
        t_permission
      where
        id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.lmt.mbsp.user.entity.permission.Permission" useGeneratedKeys="true" keyProperty="id">
        insert into t_permission (
          id,
          icon,
          name,
          state,
          code,
          parent_code,
          create_time
        ) values (
          #{id,jdbcType=BIGINT},
          #{icon,jdbcType=VARCHAR},
          #{name,jdbcType=VARCHAR},
          #{state,jdbcType=INTEGER},
          #{parentCode,jdbcType=VARCHAR},
          #{code,jdbcType=VARCHAR},
          #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.lmt.mbsp.user.entity.permission.Permission">
        update
          t_permission
        set
          icon = #{icon,jdbcType=VARCHAR},
          name = #{name,jdbcType=VARCHAR},
          state = #{state,jdbcType=INTEGER},
          code = #{code,jdbcType=VARCHAR},
          parent_code = #{parentCode,jdbcType=VARCHAR},
          create_time = #{createTime,jdbcType=TIMESTAMP}
        where
          id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
      select
        id, icon, name, state, code, parent_code, create_time
      from
        t_permission
      where
        id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectSingle" parameterType="com.lmt.mbsp.user.entity.permission.Permission" resultMap="BaseResultMap">
        select id, icon, name, state, create_time
        from t_permission
        where
        <if test="id != null">
            id = #{id,jdbcType=BIGINT}
        </if>
    </select>

    <select id="selectAll" resultMap="BaseResultMap" parameterType="com.lmt.mbsp.user.entity.permission.Permission">
      select
        id, icon, name, state, code, parent_code, create_time
      from
        t_permission
    </select>

    <select id="count" parameterType="java.lang.Long" resultType="java.lang.Integer">
      select
        count(*)
      from
        t_permission
    </select>

</mapper>