<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmt.mbsp.user.dao.mapper.permission.PermissionResourcesMapper">
    <resultMap id="BaseResultMap" type="com.lmt.mbsp.user.entity.permission.PermissionResources">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="permission_id" jdbcType="BIGINT" property="permissionId"/>
        <result column="resources_id" jdbcType="BIGINT" property="resourcesId"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
      delete from
        t_permission_resources
      where
        id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.lmt.mbsp.user.entity.permission.PermissionResources">
      insert into t_permission_resources (
        id, permission_id, resources_id
      )
      values (
        #{id,jdbcType=BIGINT},
        #{permissionId,jdbcType=BIGINT},
        #{resourcesId,jdbcType=BIGINT}
      )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.lmt.mbsp.user.entity.permission.PermissionResources">
      update
        t_permission_resources
      set
        permission_id = #{permissionId,jdbcType=BIGINT},
        resources_id = #{resourcesId,jdbcType=BIGINT}
      where
        id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
      select
        id, permission_id, resources_id
      from
        t_permission_resources
      where
        id = #{id,jdbcType=BIGINT}
    </select>


    <select id="selectSingle" parameterType="com.lmt.mbsp.user.entity.permission.PermissionResources" resultMap="BaseResultMap">
        select
          id, permission_id, resources_id
        from
          t_permission_resources
        where
        <if test="id != null">
          id = #{id,jdbcType=BIGINT}
        </if>
    </select>

    <select id="selectAll" resultMap="BaseResultMap" parameterType="com.lmt.mbsp.user.entity.permission.PermissionResources">
      select
        id, permission_id, resources_id
      from
        t_permission_resources
    </select>

    <select id="count" parameterType="java.lang.Long" resultType="java.lang.Integer">
      select
        count(*)
      from
        t_permission_resources
    </select>
</mapper>