<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmt.mbsp.user.dao.mapper.resources.ResourcesMapper">
    <resultMap id="BaseResultMap" type="com.lmt.mbsp.user.entity.resources.Resources">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="pid" jdbcType="BIGINT" property="pid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="data" jdbcType="VARCHAR" property="data"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="resource_id" jdbcType="BIGINT" property="resourceId"/>
        <result column="typ" jdbcType="INTEGER" property="typ"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="selFields">id, pid,name,path,data,icon,resource_id, typ,sort,state, create_time</sql>

    <!--查询参数-->
    <sql id="paramSql">
        <where>
            1 = 1
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="path != null">
                and path = #{path,jdbcType=VARCHAR}
            </if>

            <if test="typ != null">
                and typ = #{typ,jdbcType=INTEGER}
            </if>
            <if test="state != null">
                and state = #{state,jdbcType=INTEGER}
            </if>
        </where>
    </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
      delete from
        t_resources
      where
        id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.lmt.mbsp.user.entity.resources.Resources" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_resources (
        <include refid="selFields"/>
        )
        values (
        #{id,jdbcType=BIGINT},
        #{pid,jdbcType=BIGINT},
        #{name,jdbcType=VARCHAR},
        #{path,jdbcType=VARCHAR},
        #{data,jdbcType=VARCHAR},
        #{icon,jdbcType=VARCHAR},
        #{resourceId,jdbcType=BIGINT},
        #{typ,jdbcType=INTEGER},
        #{sort,jdbcType=INTEGER},
        #{state,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.lmt.mbsp.user.entity.resources.Resources">
    update
      t_resources
    set
      pid = #{pid,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      data = #{data,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      resource_id = #{resourceId,jdbcType=BIGINT},
      typ = #{typ,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where
      id = #{id,jdbcType=BIGINT}
  </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="selFields"/>
        from
        t_resources
        where
        id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectSingle" parameterType="com.lmt.mbsp.user.entity.resources.Resources" resultMap="BaseResultMap">
        select
        <include refid="selFields"/>
        from
        t_resources
        where
        <if test="id != null">
            id = #{id,jdbcType=BIGINT}
        </if>
    </select>


    <select id="selectAll" resultMap="BaseResultMap" parameterType="com.lmt.mbsp.user.entity.resources.Resources">
        select
        <include refid="selFields"/>
        from
        t_resources
        <include refid="paramSql"/>
    </select>

    <select id="count" parameterType="com.lmt.mbsp.user.entity.resources.Resources" resultType="java.lang.Integer">
        select
        count(*)
        from
        t_resources
        <include refid="paramSql"/>
    </select>
</mapper>