<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmt.mbsp.user.dao.mapper.user.UserPositionMapper">
  <resultMap id="BaseResultMap" type="com.lmt.mbsp.user.entity.user.UserPosition">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="position" jdbcType="VARCHAR" property="position" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user_position
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByUserId" parameterType="java.lang.Long">
    delete from t_user_position
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.lmt.mbsp.user.entity.user.UserPosition" useGeneratedKeys="true" keyProperty="id">
    insert into t_user_position (id, user_id, category_id,
      position)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT},
      #{position,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.lmt.mbsp.user.entity.user.UserPosition">
    update t_user_position
    set user_id = #{userId,jdbcType=BIGINT},
      category_id = #{categoryId,jdbcType=BIGINT},
      position = #{position,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="selFields"/>
    from t_user_position
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="selFields"/>
    from t_user_position
    where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <select id="selectSingle" parameterType="com.lmt.mbsp.user.entity.user.UserPosition" resultMap="BaseResultMap">
    select <include refid="selFields"/>
    from t_user_position
    <include refid="paramSql"/>
  </select>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.lmt.mbsp.user.entity.user.UserPosition">
    select <include refid="selFields"/>
    from t_user_position
    <include refid="paramSql"/>
  </select>

  <select id="count" parameterType="com.lmt.mbsp.user.entity.user.UserPosition" resultType="java.lang.Integer">
    select count(*)
    from t_user_position
    <include refid="paramSql"/>
  </select>

  <!--查询返回字段-->
  <sql id="selFields">id, user_id, category_id, position</sql>

  <!--查询参数-->
  <sql id="paramSql">
    <where>
      <if test="id != null">AND id = #{id,jdbcType=BIGINT}</if>
      <if test="userId != null">AND user_id = #{userId,jdbcType=BIGINT}</if>
      <if test="categoryId != null">AND category_id = #{categoryId,jdbcType=BIGINT}</if>
    </where>
  </sql>
</mapper>