<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmt.mbsp.user.dao.mapper.user.UserAccountMapper">
  <resultMap id="BaseResultMap" type="com.lmt.mbsp.user.entity.user.UserAccount">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user_account
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.lmt.mbsp.user.entity.user.UserAccount" useGeneratedKeys="true" keyProperty="id">
    insert into t_user_account (id, account_id, create_time, 
      user_id)
    values (#{id,jdbcType=BIGINT}, #{accountId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.lmt.mbsp.user.entity.user.UserAccount">
    update t_user_account
    set account_id = #{accountId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="selFields"/>
    from t_user_account
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="selFields"/>
    from t_user_account
    where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <select id="selectByAccountId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="selFields"/>
    from t_user_account
    where account_id = #{accountId,jdbcType=BIGINT}
  </select>

  <select id="selectSingle" parameterType="com.lmt.mbsp.user.entity.user.UserAccount" resultMap="BaseResultMap">
    select <include refid="selFields"/>
    from t_user_account
    <include refid="paramSql"/>
  </select>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.lmt.mbsp.user.entity.user.UserAccount">
    select <include refid="selFields"/>
    from t_user_account
    <include refid="paramSql"/>
  </select>

  <select id="count" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select count(*)
    from t_user_account
    <include refid="paramSql"/>
  </select>

  <!--查询返回字段-->
  <sql id="selFields">id, account_id, create_time, user_id</sql>

  <!--查询参数-->
  <sql id="paramSql">
    <where>
      <if test="id != null">AND id = #{id,jdbcType=BIGINT}</if>
      <if test="userId != null">AND user_id = #{userId,jdbcType=BIGINT}</if>
      <if test="accountId != null">AND account_id = #{accountId,jdbcType=BIGINT}</if>
      <if test="userIds != null and userIds.size()>0">
        AND
        <foreach collection="userIds" item="id" open="(" close=")" separator="or">
          user_id = #{id}
        </foreach>
      </if>
    </where>
  </sql>
</mapper>