<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmt.mbsp.user.dao.mapper.user.UserMapper">
  <resultMap id="BaseResultMap" type="com.lmt.mbsp.user.entity.user.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="domicile" jdbcType="VARCHAR" property="domicile" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="typ" jdbcType="INTEGER" property="typ" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="is_supplement" jdbcType="BOOLEAN" property="isSupplement"/>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.lmt.mbsp.user.entity.user.User">
    insert into t_user (id, age, create_time,
      domicile, id_card, name,
      sex, state,
      email, qq, is_supplement,
      phone, typ)
    values (#{id,jdbcType=BIGINT}, #{age,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{domicile,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{sex,jdbcType=INTEGER}, #{state,jdbcType=INTEGER},
      #{email,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{isSupplement,jdbcType=BOOLEAN},
      #{phone,jdbcType=VARCHAR}, #{typ,jdbcType=INTEGER})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.lmt.mbsp.user.entity.user.User">
    update t_user
    set age = #{age,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      domicile = #{domicile,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      qq = #{email,jdbcType=VARCHAR},
      is_supplement = #{isSupplement,jdbcType=BOOLEAN},
      phone = #{phone,jdbcType=VARCHAR},
      typ = #{typ,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="selFields"/>
    from t_user
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectSingle" parameterType="com.lmt.mbsp.user.entity.user.User" resultMap="BaseResultMap">
    select <include refid="selFields"/>
    from t_role
    where
    <if test="id != null">
      id = #{id,jdbcType=BIGINT}
    </if>
    <if test="name != null">
      AND `name` = #{name}
    </if>
  </select>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.lmt.mbsp.user.entity.user.User">
    select <include refid="selFields"/>
    from t_user
    <include refid="paramSql"/>
    ORDER BY id DESC
  </select>

  <select id="count" parameterType="com.lmt.mbsp.user.entity.user.User" resultType="java.lang.Integer">
    select count(*)
    from t_user
    <include refid="paramSql"/>
  </select>

  <!--查询返回字段-->
  <sql id="selFields">id, age, create_time, domicile, id_card, `name`, sex, state, email, qq, is_supplement, phone, typ</sql>

  <!--查询参数-->
  <sql id="paramSql">
    <where>
      <if test="id != null">AND id=#{id,jdbcType=BIGINT}</if>
      <if test="state != null">AND state=#{state,jdbcType=INTEGER}</if>
      <if test="name != null">AND `name` LIKE '%' #{name,jdbcType=VARCHAR} '%'</if>
      <if test="isSupplement != null">AND is_supplement=#{isSupplement,jdbcType=BOOLEAN} </if>
      <if test="typ != null">AND typ=#{typ,jdbcType=INTEGER} </if>
      <if test="typs != null">
        AND
        <foreach collection="typs" item="typ" open="(" close=")" separator="or">
          typ = #{typ}
        </foreach>
      </if>
      <if test="ids != null">
        AND
        <foreach collection="ids" item="id" open="(" close=")" separator="or">
          id = #{id}
        </foreach>
      </if>
    </where>
  </sql>
</mapper>